* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* outline: solid red; */
}

:root {
    --mainColor:#5368df;
    --textColor:rgb(188, 186, 186);
    --secondHeading1:35px;
    --secondHeading:25px;
}

body {
    padding-left: 30px;
    padding-right: 30px;
}

/* HEADER */

header {
    padding-top: 40px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background: #111;
  color: white;
  position: relative;
}

.logo {
  font-weight: bold;
}

/* mobile */
.burger {
  font-size: 26px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  display: block;
  padding: 10px;
}

.logo {
    width: 140px;
    height:25px;
}

.menu {
  list-style: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  margin-top: 50px;
  background:  var(--mainColor);
  z-index: 999;
}

.menu1 {
    display: none;
}

.menu li a {
  /* remove the hide or override it */
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

/* either add this */
.menu.active li a {
  display: block;
}

/* …or simpler—just show them by default */
.menu li a {
  display: block;
}

/* ochilganda */
.menu.active {
  display: flex;
}

/* Hero */

.hero {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column-reverse;
}

.rightDiv {
    position: relative;
    margin-bottom: 300px;
}

.decor {
    position: absolute;
    width: 270px;
    height: 150px;
    background-color:  var(--mainColor);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    right: -30px;
    top: 100px;

}

.leftDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #202740;
    font-weight: 600;
}

.heroText {
    color: rgb(188, 186, 186);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

}

.heroImg {
    position: absolute;
    width: 90vw;
    z-index: 100;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn1 {
    width: 120px;
    height: 35px;
    background-color: var(--mainColor);
    color: white;
    font-size: 12px;
    font-weight: 450;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #F4F4F4;
    color: gray;
    transition: all 0.5s;
}

.btn2:hover {
    background-color: var(--mainColor);
    color: white;
    transition: all 0.5s;
}


.btn2 {
    width: 120px;
    height: 35px;
    background-color: #F4F4F4;
    color: gray;
    font-size: 12px;
    font-weight: 450;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

/* FEATURES */

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200vh; */
}

.heading {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 550;
    font-size: var(--secondHeading);
}

.tabs {
    margin-top: 30px;
    margin-bottom: 50px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #ddd;
    width: 50vw;
}

.tab {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #777;
}

.tab.active {
  color: #000;
}

.liner {
    width: 70vw;
}

.line {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 3px;
  width: 0;
  background: #ff4c4c;
  transition: 0.3s ease;
}

/* content */

.content-wrapper {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.content {
    display: none; /* hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content.active {
  display: flex; /* show only when active */
}

.btnMini {
    display: none;
    width: 120px;
    height: 40px;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 5px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 450;
    margin-top: 20px;
}

.contentLeft {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentRight {
    display: flex;
    flex-direction: column;
    color: black;
}

.img1 {
    width: 90%;
    margin-bottom: 30px;
}

.btnMini {
    display: none;
}



/* desktop */
@media (min-width: 1024px) {
    body {
        padding-left: 150px;
        padding-right: 150px;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
    header {
        padding-top: 30px;
        padding-bottom: 170px;
        display: flex;
        align-items: center;
    }
    .logo {
        width: 180px;
        height: 30px;
    }
    .links {
        font-size: 18px;
    }

    .burger {
            display: none;
    }
    .menu1 {
        display: flex;
    }

    .menu {
        position: static;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 30px;
        width: auto;
        background: white;
        margin-top: 0;
    }

    .menu li a {
        padding: 0;
        color: #5A5965;
    }
    .loginBtn {
        width: 100px;
        height: 35px;
        background-color: #FA5959;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .menu li.loginBtn a {
        color: white;
    }

    /* Hero */
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 350px;
    }
    .heroImg {
        width: 700px;
        top: -100px;
        left: -250px;
    }
    .decor {
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
        left: -76px;
        width: 599.5px;
        height: 350px;
    }
    .leftDiv {
        justify-content: start;
        align-items: start;
    }
    h1 {
        font-size: 52px;
        text-align: start;
    }
    .heroText {
        font-size: 18px;
        text-align: start;
    }
    .btn1, .btn2 {
        border-radius: 7px;
        font-size: 16px;
        width: 170px;
        height: 50px;
    }

    /* FEATURES */

    .features {
        margin-top: 260px;
    }
    .heading {
        font-size: var(--secondHeading1);
    }
    .tabText {
        text-align: center;
    }
    .tabs {
        flex-direction: row;
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .tab {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .liner {
        display: none;
        width: 0px;
    }
    .content {
        flex-direction: row;
        gap: 150px;
    }
    .contentRight {
        align-items: start;
        gap: 20px;
    }
    .btnMini {
        display: flex;
    }
    .img1 {
        width: 30vw;
    }
    .decor2 {
        z-index: -10;
        position: absolute;
        width: 700px;
        height: 300px;
        background-color:  var(--mainColor);
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
        right: 100px;
        top: 50px;
    }
    .decor3 {
        top: 120px;
    }

}